<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/">SCM</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/customers">Customers</a>
      </li>

    </ul>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<router-outlet></router-outlet>
<footer class="footer unique-color">
  <div class="container">
    <span class="text-light">Copyright &copy; 2021 | Paweł Palacz</span>
  </div>
</footer>
